<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
				 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
				 version="3.0">
		 
	<!-- *** JSF configuration *** -->
	<!-- Indicates the stage of the initialized application. Set the project stage to "Development", "UnitTest", "SystemTest", or "Production". See http://myfaces.apache.org/core20/myfaces-impl/webconfig.html#javax_faces_PROJECT_STAGE -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Debug</param-value>
	</context-param>

	<!-- Strip XML comments out of Facelets before delivering to the client. See http://myfaces.apache.org/core20/myfaces-impl/webconfig.html#javax_faces_FACELETS_SKIP_COMMENTS -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- JSF Servlet is defined to container. -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- Mapping with servlet and url for the http requests. -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<!-- *** /JSF configuration *** -->

		 
	<!-- *** Web application configuration *** -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>faces/index.xhtml</welcome-file>
	</welcome-file-list>

	<display-name>mom</display-name>
	
	<!-- FIXME
				Workaround for IllegalStateException: Cannot create a session after the response has been committed 
				See http://stackoverflow.com/a/8072445 for additional workarounds.
	-->
	<context-param>
		<param-name>com.sun.faces.writeStateAtFormEnd</param-name>
		<param-value>false</param-value>
	</context-param>

	<!-- MIME type mapping for WOFF and EOT fonts. See http://stackoverflow.com/questions/3594823/mime-type-for-woff-fonts and http://www.w3.org/TR/WOFF/#appendix-b https://developer.mozilla.org/en/CSS/@font-face#Notes https://developer.mozilla.org/en/About_WOFF -->
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/x-font-woff</mime-type>
	</mime-mapping>
	
	<mime-mapping>
		<extension>eot</extension>
		<mime-type>application/octet-stream</mime-type>
	</mime-mapping>
	<!-- *** /Web application configuration *** -->
	
</web-app>
